{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
<span class="label">
    <img width="20" height="28" alt="Database" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC" />
    <strong>Doctrine Statistics</strong>
</span>
{% endblock %}

{% block panel %}
<h2>All Queries ({{ collector.queriesCount }})</h2>
{% for connection, queries in collector.queries %}
    <h3>Connection <em>{{ connection }}</em></h3>
    <table>
        <tr>
            <th>SQL</th>
            <th>Parameters</th>
        </tr>

        {% for query in queries %}
        <tr>
            <td>{{ query.sql }}</td>
            <td>{{ query.params|yaml_encode }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor%}

<h2>Identical Queries ({{ collector.identicalQueriesCount }})</h2>
{% for connection, identicalQueries in collector.identicalQueries %}
    <h3>Connection <em>{{ connection }}</em></h3>
    <table>
        <tr>
            <th>Times called</th>
            <th>SQL</th>
            <th>Parameters</th>
        </tr>

        {% for identicalQuery in identicalQueries %}
        <tr>
            <td>{{ identicalQuery.count }}</td>
            <td>{{ identicalQuery.sql }}</td>
            <td>{{ identicalQuery.parameters|yaml_encode }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor%}

<h2>Similar Queries ({{ collector.similarQueriesCount }})</h2>
{% for connection, similarQueries in collector.similarQueries %}
    <h3>Connection <em>{{ connection }}</em></h3>
    <table>
        <tr>
            <th>Times called</th>
            <th>SQL</th>
        </tr>

        {% for similarQuery in similarQueries %}
            <tr>
                <td>{{ similarQuery.count }}</td>
                <td>{{ similarQuery.sql }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor%}

{% endblock %}
